---
layout: root.layout.njk
---

<body 
    class="min-h-screen max-w-screen bg-gray-200 leading-normal tracking-normal flex flex-col justify-between overflow-x-hidden"
    style="font-family: 'Noto Sans JP', sans-serif;"
  >
    {% include "navbar.partial.njk" %}
    <main class="w-screen">
        {{ content | safe }}
    </main>
    <footer class="w-screen flex flex-col justify-center items-center">
        <script src="/assets/js/index.js"></script>
    </footer>
</body>